<section class="titles-section">
  <h2 class="titles-heading">Titles</h2>
  <ul class="titles-list">
  {{#each titles}}
    <li class="item">
      <p class="item-title">{{this.title}}</p>
      <ol class="item-listings">
      {{#each this.listings}}
        <li class="listing">{{this.date}}, {{this.venue}}, {{this.screen}}</li>
      {{/each}}
      </ol>
    </li>
  {{/each}}
  </ul>
</section>