* {
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, header, main, footer, ul, ol, li, article, div, p {
  margin: 0;
  padding: 0;
  border: none;
}

a {
  text-decoration: none;
  color: unset;
}

body {
  background-color: rgb(55, 0, 0);
  width: 100%;
  height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  background-color: black;
  color: white;
  padding: 1.5rem;
  gap: 15px;

  font-family: 'Oswald',Georgia,'Times New Roman',Times,serif
}

header p a {
  text-decoration: underline;
}

header .page-title {
  margin-right: 10px;
}

header .date-updated {
  font-size: small;
}

header .navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  flex-direction: row;
}

main h2 {
  color: white;
  text-align: center;
  margin: 1em auto 0 auto;
  padding-bottom: 0.25em;
  border-bottom: 1px solid white;
  width: 95%;

  text-transform: uppercase;
  font-size: 1rem;
  font-family: 'Oswald',Georgia,'Times New Roman',Times,serif
}

.titles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-top: 1em;
  padding-bottom: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 300px;
  min-height: 430px;
  padding: 8px;
}

.card .title {
  color: rgb(70, 70, 70);
  font-size: 18px;
  font-family: 'Oswald',Georgia,'Times New Roman',Times,serif;
  font-weight: lighter;
  padding: 2px 5px 8px 5px;
}

.shows {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  flex-grow: 1;
  list-style-type: none;
  background-color: white;
  background-size: cover;
}

.show {
  color: black;
  background-color: white;
  padding: 5px 0 0 5px;
  text-align: left;
  min-width: 180px;
}

footer {
  background-color: black;
}

.page-author {
  color: white;
  text-align: left;
  font-family: monospace;
  padding: 1em;
  margin: 0 auto 1em auto;
  opacity: 0.5;
  font-size: smaller;
  display: block;
  width: fit-content;
}

footer a {
  text-decoration: underline;
}